body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 200%;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  color: #25b6b6;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  color: #b625b6;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  color: #2548b4;
}

p {
  line-height: 2;
  text-align: justify;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: #11999E;
  font-family: 'Roboto', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.intro {
  width: 50%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.top-container {
  padding-top: 50px;
}

.middle-container {
  margin: 25px 0;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.bottom-container {
  background-color: #66BFBF;
  padding: 0 0 20px;
}

.pro {
  text-decoration: underline;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.top-rainbow-cloud {
  position: absolute;
  right: 200px;
  top: 110px;
}

.bottom-rainbow-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.loop-img {
  display: block;
  margin: 0 auto;
  width: 30%
}

.star-trek-img {
  display: block;
  margin: 0 auto;
  width: 30%
}

.code-skill-description {
  clear: none;
}

.btn {
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
